<%= form_with(model: [ @event, @comment ], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :body, "New Comment" %>
    <%= form.text_area :body, class: "form-control", rows: 3 %>
  </div>
  
  <%= form.submit "Add Comment", class: "btn btn-primary" %>
<% end %>